<div class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h3>Contact Information</h3>
        <div class="off-con">
          <h4>UAE OFFICE</h4>
          <div class="tit-con">
            <div class="title">address:</div>
            <div class="disc">Khobar Highway , Novotel Business Park</div>
          </div>
          <div class="tit-con">
            <div class="title">address:</div>
            <div class="disc">Khobar Highway , Novotel Business Park</div>
          </div>
          <div class="tit-con">
            <div class="title">address:</div>
            <div class="disc">Khobar Highway , Novotel Business Park</div>
          </div>

        </div>
        <div class="mt-4" style="width: 100%"><iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create route map</a></iframe></div><br />

      </div>
      <div class="col-lg-6">
        <h3>Contact Form</h3>
        <form action="" >
          <input type="text" class="w-100" placeholder="(*) Name ">
          <input type="text" placeholder="(*) Name ">
          <input type="text" placeholder="(*) Name ">
          <input type="text" placeholder="(*) Name ">
          <textarea rows="4" placeholder="(*) Message "></textarea>
        </form>
      </div></div>
  </div>


    </div>
