/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import "sass/var";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  font-family: 'Roboto Condensed', sans-serif;

}
.mat-dialog-container{
  padding: 0 !important;
}
input {
  &.ng-invalid.ng-touched{
    border: 1px solid red;
  }}
button:focus {
  outline: none;
}
