@import "../../sass/var";

.booking {

  .form-group {
    display: flex;
  }
  .col-lg-6 {
    label {
      margin-right: 2%;
      text-transform: capitalize;
      font-weight: bold;
      padding: 1%;
      width: 28%;
      text-align: center;
      background: $seccolor;
      color: white;
      span{
        vertical-align: -webkit-baseline-middle;
      }
    }
    & {
      span {
        svg {
          width: 25px;
          margin-right: 4%;
        }
      }
    }
  }
  .col-sm-8 {
    display: flex;
    align-items: center;
  }
}

.invalid-feedback {
  display: block;
  text-align: center;
}

.date, .number {
  padding-left: 8.5%;
  width: 42%;

}

.btn {
  text-transform: capitalize;
  background-color: $seccolor;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 30%;
  display: block;
  margin: auto;
  @media screen and (max-width: 425px) {
    width: 30%;
  }
}

.passengersData {
  width: 100%;
  .data-con {
    .date_inp {
      margin-left: 10%;
      max-width: 150px;
    }
  }
}

